rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if request.auth != null
      allow update: if request.auth.uid == userId
    }

    match /projects/{projectId} {
      allow read, create, update: if request.auth != null
      allow delete: if request.auth.uid == resource.data.createdBy.id 
    }
  }
}